<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <script src="/static/js/jquery-1.12.4.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/typeahead.bundle.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('input.typeahead').typeahead({
      name: 'accounts',
      local: ['Audi', 'BMW', 'Bugatti', 'Ferrari', 'Ford', 'Lamborghini', 'Mercedes Benz', 'Porsche', 'Rolls-Royce', 'Volkswagen']
    });
});  
</script>
</head>
<body>
<div id="the-basics">
  <input class="typeahead" type="text" placeholder="States of USA" autocomplete="off" spellcheck="false">
</div> 

<div class="container">
    <h1>MTG CARD COLLECTION</h1>
    <p>Resize the browser window to see the effect.</p>
  		
</div>

</body>
</html>
